<!DOCTYPE html>
<html lang="en">
<% include ./include/header %>
<body>
<% include ./include/nav %>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Continuous Deployment Admin Environment</h1>
        </div>

    </div>
    <hr>
    <div class="row">
        <h3>Environment help Developers or Project Managers to Deploy Project to Test Server.</h3>
        <p>Environment create project repository to Bitbucket, project management to Pivotaltracker, database(MySQL).</p>
        <p>To create new project select "Projects" from navbar and "Add new project" or click <a class=font-weight-bold href="/projects/new/">here</a></p>
    </div>

</div>

<% include ./include/scripts %>
<% include ./include/footer %>
</body>
</html>
