<!DOCTYPE html>
<html lang="en">
<% include ./include/header %>
<body>
<% include ./include/nav %>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Projects</h1>
            <a>Here you can see all projects, which is created with that tool</a>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-xs-3">
            <a href="new" class="btn btn-primary">Add new project</a>
            <!-- Add new server -->
            <% include ./include/newserver %>
        </div>
    </div>
    <br>
    <div>

        <table class="table table-responsive-md table-hover table-sm">
            <thead>
            <tr>

                <th scope="col">Project Name</th>
                <th scope="col">Host</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < projects.length; ++i) { %>

                <tr>

                    <td><a class="projectlink" href="<%- projects[i]._id %>/view/"><%- projects[i].projectname %></a>
                    </td>
                    <td><a class="projectlink" ><%- projects[i].sshhost %></a></td>
                    <td><a href="<%- projects[i]._id %>/view/" class="btn btn-primary btn-sm">View</a></td>
                    <td><a href="http://<%- projects[i].sshhost %>/<%- projects[i].projectname %>/"
                           class="btn btn-primary btn-sm" target="_blank">Watch Website</a></td>
                </tr>
            <% } %>
            </tbody>
        </table>

    </div>

</div>

<% include ./include/scripts %>
<% include ./include/footer %>
</body>
</html>
