<!DOCTYPE html>
<html lang="en">
<% include ./include/header %>
<body>
<% include ./include/nav %>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Project "<%- projects.projectname %>" details</h1>
        </div>
    </div>
    <br>
    <div>
        <table class="table table-responsive-lg">
            <tbody>
            <tr>
                <th>Repository Link :</th>
                <td><a href="https://bitbucket.org/tonismals/<%- projects.projectname %>" target="_blank">https://bitbucket.org/tonismals/<%- projects.projectname %></a></td>
            </tr>
            <tr>
                <th>Pivotal Tracker link:</th>
                <td><a href="https://www.pivotaltracker.com/n/projects/<%- projects.pivopid %>" target="_blank">https://www.pivotaltracker.com/n/projects/<%- projects.pivopid %></a></td>

            </tr>
            <tr>
                <th>Test Server Web link</th>
                <td><a href="http://<%- projects.sshhost %>/<%- projects.projectname %>" target="_blank">http://<%- projects.sshhost %>/<%- projects.projectname %></a></td>
            </tr>

            <tr>
                <th>Database Name</th>
                <td><%- projects.dbname %></td>
            </tr>
            <tr>
                <th>Database Username</th>
                <td><%- projects.dbusername %></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-2">
                <% include ./include/newmember %>
            </div>
            <div class="col-md-3">
                <% include ./include/pivotalmembers %>
            </div>
            <div class="col-md-3">
                <% include ./include/bitbucketmembers %>
            </div>
        </div>
    </div>
</div>

<% include ./include/scripts %>
<% include ./include/footer %>
</body>
</html>
