body {
    overflow-y: scroll;
}

hr {
    background-color: #fff;
}

.footer{
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    vertical-align:bottom;
}

.nav-link{
    font-weight: 1000;
    color:#000000 !important;
}
.nav-link:hover{
    color:#fff !important;
}

.active{
    color: rgb(150, 150, 150) !important;
}


ul {
    list-style-type: none;
}
a:link  {
    text-decoration: none;
    color:rgb(0,0,0);
}

a:visited {
    text-decoration: none;
    color:rgb(0,0,0);
}

a:hover {
    text-decoration: none;
    color:rgb(0,0,0);
}

a:active {
    text-decoration: none;
    color:rgb(0,0,0);
}

.btn{
    color:rgb(255,255,255 ) !important;
}
