<footer class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p></p>
                <p></p>
                <% let year = (new Date()).getFullYear() %>
                <p style="float:right;">&copy;<%= year %></p>
            </div>
        </div>

    </div>
</footer>