<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newmember">
    Add new member
</button>
<div class="modal fade" id="newmember" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add new member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="newmember">
                    <div class="form-group row">
                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">New member Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="newmember"
                                   id="formGroupExampleInput"
                                   placeholder="Member email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">PivotalTracker Role</label>
                        <div class="col-sm-9">
                            <select class="browser-default custom-select" name="pivotalrole" required>
                                <option selected disabled>Select Pivotal Tracker role</option>
                                <option value="viewer">Viewer</option>
                                <option value="member">Member</option>
                                <option value="owner">Owner</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Bitbucket permission</label>
                        <div class="col-sm-9">
                            <select class="browser-default custom-select" name="bitpermvalue" required>
                                <option selected disabled>Select bitbucket permission</option>
                                <option value="read">Read</option>
                                <option value="write">Write</option>
                                <option value="admin">Admin</option>

                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add new member</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>