<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addnewserver">
    Add new server
</button>
<!-- New Server modal Modal -->
<div class="modal fade" id="addnewserver" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add new server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="newserver" id="newserver">
                    <div class="form-group row">
                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Server
                            name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="servername"
                                   id="formGroupExampleInput"
                                   placeholder="Server name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Server IP or
                            host</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="serverhost"
                                   id="formGroupExampleInput"
                                   placeholder="Server IP or host" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Server
                            Username</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="serverusername"
                                   id="formGroupExampleInput"
                                   placeholder="Server Username" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Server
                            password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="serverpassword"
                                   id="formGroupExampleInput"
                                   placeholder="Server password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Bitbucket Deploy Key</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" name="bitbucketdeploykey" placeholder="Bitbucket Deploy Key" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add new server</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>