<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pivotalmembers">
    Pivotal Tracker Members
</button>
<div class="modal fade" id="pivotalmembers" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Pivotal Tracker Members</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-responsive-md table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < pivomembers.length; ++i) { %>

                        <tr>
                            <td><%- pivomembers[i].id %></td>
                            <td><%- pivomembers[i].person.name %></td>
                            <td><%- pivomembers[i].person.email %></td>
                            <td><%- pivomembers[i].role %></td>
                            <td>
                                <form method="DELETE" action="pivomemberdelete" >
                                    <button type="submit" class="btn btn-danger" name="pivomemberidfordelete" value="<%- pivomembers[i].id %>" hidden>
                                        <span aria-hidden="true" >&times;</span>
                                    </button>
                                </form>
                                <!--<form method="delete" action="pivomemberdelete">
                                    <button type="button" class="close" name="pivomemberidfordelete" value="<%- pivomembers[i].id %>">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </form>-->

                            </td>

                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>