<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script data-cookie-notice='{ "learnMoreLinkEnabled": true, "learnMoreLinkHref": "/privacy.html" }'
        src="https://unpkg.com/cookie-notice@^1/dist/cookie.notice.min.js"
></script>
<script type="text/javascript" src="https://unpkg.com/cookie-notice@^1/dist/cookie.notice.min.js"></script>

<script>
    new cookieNoticeJS({

        // Localizations of the notice message
        'messageLocales': {
            'it': 'Custom localized message'
        },

        // Localizations of the dismiss button text
        'buttonLocales': {
            'it': 'Chiudi'
        },

        // Position for the cookie-notifier (default=bottom)
        'cookieNoticePosition': 'bottom',

        // Shows the "learn more button (default=false)
        'learnMoreLinkEnabled': false,

        // The message will be shown again in X days
        'expiresIn': 30,

        // Dismiss button background color
        'buttonBgColor': '#28a745',

        // Dismiss button text color
        'buttonTextColor': '#fff',

        // Notice background color
        'noticeBgColor': '#007bff',

        // Notice text color
        'noticeTextColor': '#fff',

        // Print debug output to the console (default=false)
        'debug': false
    });
</script>


